svg {
    width: 50px;
}

.background_div {
    width: 400px;
    height: 500px;
    background-color: rgba(255,255,255,0.13);
    border-radius: 25px;
}


@media  (max-width: 600px)  {
    .background_div {
        width: 300px;
        height: 500px;
        background-color: rgba(255,255,255,0.13);
        border-radius: 25px;
    }
}